<!DOCTYPE html>
<html>

<head>
    <title>Hello Chat</title>
    <script src="#[p('app.hostName')]/resources/js/htmx.min.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <link rel="icon" type="image/png" href="p('app.hostName')]/favicon.ico" />
    <!-- <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script> -->
</head>

<body>
    <h1>Test Form</h1>
    <!-- <div hx-target="this" hx-swap="outerHTML" hx-get="/contact/1/edit" hx-trigger="load"></div> -->
    <div id="main" hx-swap="outerHTML">
        <form hx-post="/join-room">
            <label for="chatroom">Chatroom name:</label>
            <input type="text" id="chatroom" name="chatroom"/><br/>
            <label for="chat-password">Password</label>
            <input type="password" id="chat-password" name="password"/><br/>
            <button type="submit" 
            hx-target-426="#main"
            hx-target-403="#bad-pass">
                Start chat
            </button>
        </form>
        <div id="bad-pass"></div>
    </div>
</body>

</html>